.welcome {
    margin-bottom: 80px;
}

.welcome__textbox {
    padding: 0px 32px;
    h2 {
        color: $black;
        margin-bottom: 29px;
    }
    p {
        color: $black;
    }
}
