.featured {
    width: 311px;
    margin: 0 auto;

    h2 {
        margin-bottom: 48px;
    }
    h4 {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: $white;
        margin-bottom: 4px;
    }
    p {
        mix-blend-mode: normal;
        opacity: 0.75;
    }
    &__image {
        margin-bottom: 24px;
        display: flex;
    }
    &__card {
        position: relative;
        background: rgba(0, 0, 0, 0.5);
    }
    &__textbox {
        position: absolute;
        top: 160px;
        left: 24px;
        h1 {
            position: absolute;
            left: 375px;
            font-size: 200px;
            line-height: 200px;
            bottom: -10px;
            text-align: right;
            letter-spacing: -5px;
            color: $white;
            mix-blend-mode: normal;
            opacity: 0.5;
        }
    }
    &__overlay {
        opacity: 0.4;
        background-color: black;
        position: absolute;
        width: 311px;
        height: 240px;
    }
    &__btn {
        width: 311px;
        height: 72px;
        padding: 0px;
        text-align: center;
        font-weight: $bold;
        margin-bottom: 132px;
    }
    .featured__image-desktop {
        display: none !important;
    }
    .featured__image-desktop {
        display: none;
    }
}
.featured__image-tablet {
    display: none;
}

// .featured__h1 {
//     left: (425px !important);
// }
.featured__card .featured__image-desktop {
    display: none !important;
    margin: 3000px;
}
